#main_interface
{
	position: relative;
}

#main_interface > section {
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#logo {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(255,255,255) 0%, rgb(144,0,15) 77%, rgb(109,0,25) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(255,255,255)), color-stop(77%,rgb(144,0,15)), color-stop(100%,rgb(109,0,25))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgb(255,255,255) 0%,rgb(144,0,15) 77%,rgb(109,0,25) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgb(255,255,255) 0%,rgb(144,0,15) 77%,rgb(109,0,25) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgb(255,255,255) 0%,rgb(144,0,15) 77%,rgb(109,0,25) 100%); /* IE10+ */
background: linear-gradient(to right,  rgb(255,255,255) 0%,rgb(144,0,15) 77%,rgb(109,0,25) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */

}

#main_interface > section img
{
	position: relative;
	left: 0px;
}

#main_interface > section p
{
	
	position: relative;
	left: 200px;
}

#main_interface > section .arrow
{
	position: relative;
	right: 0px;
}
